<div class="features">
        <div class="container-features container-features-left">
            <div class="featureImageContainer">
                <img class="featureCharactersImage" src="/assets/features/ar-characters.png" 
                    srcset="/assets/features/ar-characters.png 1x, /assets/features/ar-characters@2x.png 2x" 
                    alt="AR Grimoire lets you create custom spellcasters and manage spellcasting using a beautiful, intuitive interface. The example character shown is Taako, a character from the popular D&D podcast Adventure Zone.">
            </div>
            <div class="featureTextContainer">
                <div class="featureHeadlineContainer">
                    <h1>Easy character management</h1>
                </div>
                <div class="featureDescriptionContainer">
                    <p class="featureDescription">
                        Get started with simple character creation. Enjoy a beautiful interface to track your spell slots, add to your spellbook, and update your prepared spells.
                    </p>
                </div>
            </div>
        </div>
    </div>
    