<div class="features firstFeature">
    <div class="container-features container-features-right">
        <div class="featureImageContainer">
            <img class="featureSpellsImage" src="/assets/features/ar-spells.png" 
                srcset="/assets/features/ar-spells.png 1x, /assets/features/ar-spells@2x.png 2x" 
                alt="AR Grimoire provides hints to commonly used spell attributes like cast time, range, and number of damage dice in the spell list view.">
        </div>
        <div class="featureTextContainer">
            <div class="featureHeadlineContainer">
                <h1>Cast spells quickly</h1>
            </div>
            <div class="featureDescriptionContainer">
                <p class="featureDescription">
                    Speed up combat with fast access to spells and helpful hints to remind you about casting details. 
                </p>
            </div>
        </div>
    </div>
</div>
