<div class="features">
        <div class="container-features container-features-left" style="padding-bottom: 150px;">
            <div class="featureImageContainer">
                <img style="width: 412px; height: 567px;" src="/assets/features/ar-sphere.png" 
                    srcset="/assets/features/ar-sphere.png 1x, /assets/features/ar-sphere@2x.png 2x" 
                    alt="AR Grimoire allows you to scan your D&D miniatures and visualize the range and area of effect for spells.">
            </div>
            <div class="featureTextContainer">
                <div class="featureHeadlineContainer">
                    <h1>See your spells on the tabletop</h1>
                </div>
                <div class="featureDescriptionContainer">
                    <p class="featureDescription">
                        Use AR to scan your mini and instantly visualize the casting range and area of effect for spells on the battle map. Finally resolve that argument with your GM on whether the spell really does hit all the enemies.
                    </p>
                </div>
            </div>
        </div>
    </div>
    