<div class="features">
        <div class="container-features container-features-right">
            <div class="featureImageContainer">
                <img style="width: 300px; height: 390px;" src="/assets/features/ar-keywords.png" 
                    srcset="/assets/features/ar-keywords.png 1x, /assets/features/ar-keywords@2x.png 2x" 
                    alt="AR Grimoire has special keywords that put spells into categories like: 'Nature', 'Weather', or 'Illusion'.">
            </div>
            <div class="featureTextContainer">
                <div class="featureHeadlineContainer">
                    <h1>Powerful search capabilities</h1>
                </div>
                <div class="featureDescriptionContainer">
                    <p class="featureDescription">
                            Filter spells by different attributes like damage types, saving throw types, ritual or concentration spells, and more. Use special keywords made for the app to find the perfect spell.
                    </p>
                </div>
            </div>
        </div>
    </div>
    