<!DOCTYPE html>
<html lang={{ page.lang }}>

{% include head.html %}

<body>
    <div class="imageWrapper">
        <div class="headerBackground">
            <div class="container">
                {% include header.html %}
                <div class="appInfo">
                    <div class="appHeadlineContainer">
                        <h1 class="appHeadline">The first augmented spellbook for D&D 5e</h1>
                    </div>
                    <div class="downloadButtonsContainer">
                        <a class="appStoreLink" href="{{page.app_store_link}}" target="_blank"><img class="appStore"
                                src="/assets/localized-img/appstore-{{ page.lang }}.png"></a>
                    </div>
                </div>
                <div class="iphonePreview">
                    <img class="iphoneImage" src="/assets/ar-grimoire-banner.png" 
                        srcset="/assets/ar-grimoire-banner.png 1x, /assets/ar-grimoire-banner@2x.png 2x" 
                        alt="AR Grimoire shows you spell ranges and areas of effect in augmented reality.">
                </div>    
            </div>
            {% include feature-spells.html %}
            {% include feature-characters.html %}
            {% include feature-keywords.html %}
            {% include feature-sphere.html %}
            <div class="container container-bottom">
                {% include download-banner.html %}
                {% include footer.html %}
            </div>
        </div>
    </div>
</body>
<script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<script src="/assets/js/bounceHand.js"></script>
</html>